.ideia-feita 
  {
  text-decoration: line-through;
  color: #1d0028;
}

body {
  background-color:rgb(219, 172, 241);
  color: rgb(51, 2, 54);
  font-family:fantasy;
  margin: 0;
  padding: 0;
}

footer {
  position: center;
  bottom: 0;
  left: 0;
  width: 95%;
  background-color: #dc99f2;
  color: #4e044b;
  text-align: center;
  padding: 10px;
}

p button {
  margin-left: 15px;
  background-color: #ce68f3;
  color: #4e044b;
  border: none;
  cursor: pointer;
}

div {
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #4e044b;
  font:50px fantasy;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#root {
  display:flex;
  justify-content: center;
  padding: 100px;
  margin: 0px;
  align-items: flex-start;
}

#root > div {
  display: flex;
  flex-direction: column;
  width: 650px;
  background-color: rgb(195, 136, 217);
  padding: 10px;
  border-radius: 12px;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(80, 70, 150, 0.12);
}

input::placeholder {
  color: #120012;
}

footer::first-line {
  font-weight: bold;
}

.check{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  margin-top: 12px;
 
}

.check span{
  flex: 1;
  margin: 0;
   background-color:color(rgb(187, 163, 206));
  
}


